{
  "_comment": "{{ comment }}"",

  "terrain_segmentation": "{{ terrain_segmentation }}",
  "water": "{{ water }}",
  "width": "{{ width }}",
  "height": "{{ height }}",
  "starting_area": "{{ starting_area }}",
  "peaceful_mode": "{{ peaceful_mode }}",
  "autoplace_controls":
  {
    "coal": "{{ coal }}",
    "copper-ore": "{{ copperore }}",
    "crude-oil": "{{ crudeoil }}",
    "enemy-base": "{{ enemybase }}",
    "iron-ore": "{{ ironore }}",
    "stone": "{{ stone }}",
  }
}
